<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bazar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
				<key>dateExpires</key>
				<string>21.02.2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>11.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED049224357FD7E322005F11528D7AE42336CAA8</string>
						<key>dateExpires</key>
						<string>21.02.2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B958K8TC59</string>
						<key>name</key>
						<string>AHMET EMRE SAHIN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.35</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B958K8TC59.aze.Bazar.mne</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B958K8TC59</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Bazar.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6ce2b6d8-2083-4e09-a6d9-52fffd892195</string>
				<key>dateExpires</key>
				<string>21.02.2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: aze.Bazar.mne</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B958K8TC59</string>
				<key>name</key>
				<string>AHMET EMRE SAHIN</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
